@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0d0d0d;
  color: #cccccc;
}
.container {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* header start , header boshlandi */
.header {
  padding-top: 64px;
  padding-bottom: 23px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: flex;
}
.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 16px 28px;
  border: 1px solid #262626;
  gap: 36px;
  border-radius: 100px;
  align-items: center;
  background-color: #17171799;
}
.nav-link {
  padding: 4px 6px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: #7a7a7a;
  text-decoration: none;
}
.nav-link:hover {
  color: white;
}
.header-tel {
  text-decoration: none;
  border: 1px solid #262626;
  background-color: #17171799;
  border-radius: 100px;
  padding: 16px 28px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  color: #cccccc;
}
.header-tel:hover {
  color: white;
}
.header-hamburger {
  width: 48px;
  height: 48px;
  border: 2px solid #111;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: red;
  cursor: pointer;
  display: none;
}
@media (max-width: 824px) {
  .header {
    padding-top: 25px;
  }
  .header-logo img {
    height: 50px;
  }
  .header-hamburger {
    display: flex;
  }
  .nav-list {
    display: none;
  }
  .header-tel {
    display: none;
  }
}
/* header end , header tugadi */

/* hero start */
.hero {
  padding-top: 125px;
  padding-bottom: 82px;
}
.hero-container {
  max-width: 1132px;
}
.hero-top {
  text-align: center;
  margin-bottom: 153px;
}
.hero-title {
  font-family: Poppins, sans-serif;
  font-size: 132px;
  font-weight: 500;
  line-height: 132px;
  letter-spacing: -2.4000000953674316px;
  background: linear-gradient(243.33deg, #fffff7 8.55%, #727267 100%);
  color: transparent;
  background-clip: text;
  margin-bottom: 30px;
  max-width: 710px;
  margin-left: auto;
  margin-right: auto;
}
.hero-text {
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.18000000715255737px;
  text-align: center;
  max-width: 510px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 49px;
}
.hero-link {
  background-color: white;
  display: inline-flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 15px;
  gap: 28px;
  border-radius: 100px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: black;
}

.hero-link:hover {
  opacity: 0.8;
}

.hero-row-title {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 40px;
}

.hero-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 59px;
}
.hero-col {
  background-color: #1b1b1b;
  padding-bottom: 107px;
  padding: 14px 24px 55px 24px;
  border: 1px solid #262626;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.hero-col-img {
  width: 100%;
  display: block;
  margin-bottom: 25px;
}

.hero-col-text {
  max-width: 244px;
  margin-left: auto;
  margin-right: auto;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5199999809265137px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: auto;
}

.hero-row .hero-col:nth-child(2) {
  padding: 0 0 55px 0;
}
.hero-row .hero-col:nth-child(2) img {
  height: 243px;
  margin-bottom: 2px;
}
.hero-row .hero-col:nth-child(2) p {
  max-width: 273px;
}

.hero-row .hero-col:nth-child(3) {
  padding: 0 10px 55px 15px;
}
.hero-row .hero-col:nth-child(3) img {
  height: 243px;
  margin-bottom: 2px;
}
.hero-row .hero-col:nth-child(3) p {
  max-width: 273px;
}

@media (max-width: 1024px) {
  .hero-row {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .hero-row {
    grid-template-columns: 1fr;
  }
  .hero-row-title {
    font-size: 27px;
    margin-bottom: 28px;
  }
  .hero-col {
    max-width: 329px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 824px) {
  .hero {
    padding-top: 10px;
    padding-bottom: 42px;
  }
  .hero-title {
    font-size: 53px;
    line-height: 1;
    margin-bottom: 25px;
  }
  .hero-text {
    font-size: 14px;
    line-height: 1.2;
    max-width: 250px;
    margin-bottom: 20px;
  }
  .hero-link {
    font-size: 16px;
    line-height: 1;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 12px;
  }
  .hero-link img {
    width: 30px;
  }
}
/* hero end */

/* benefits start  */
.benefits {
  padding-top: 48px;
  padding-bottom: 24px;
}
.benefits-container {
  max-width: 1132px;
}
.benefits-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 52px;
}
.benefits-title {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  margin-bottom: 40px;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
}
.benefits-col {
  border: 1px solid #262626;
  background-color: #1b1b1b;
  padding: 16px;
  border-radius: 30px;
  display: flex;
  align-items: start;
  gap: 16px;
}
.benefits-col-img {
  width: 100px;
  height: 100px;
}
.benefits-col-text {
  padding-top: 12px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5199999809265137px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #cccccc;
}

@media (max-width: 1024px) {
  .benefits-row {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .benefits {
    padding-top: 24px 12px;
  }
  .benefits-row {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .benefits-col {
    padding: 10px 15px;
    border-radius: 20px;
  }
  .benefits-col img {
    width: 80px;
    height: 80px;
  }
}

/* benefits end  */

.develop {
  padding-top: 114px;
  padding-bottom: 67px;
}
.develop-container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.develop-title {
  font-family: Poppins, sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 52.8px;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: linear-gradient(
    71.83deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
}
.develop-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}
.develop-col {
  display: grid;
  gap: 10px;
}
.develop-col-title {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #d7d7d7;
}
.develop-col-inp {
  padding: 16px;
  border-radius: 40px;
  border: none;
  outline: none;
}
.develop-col-btn {
  padding-top: 14px;
}
.hero-link {
  border: none;
  cursor: pointer;
  outline: none;
}

@media (max-width: 768px) {
  .develop {
    padding-top: 67px;
    padding-bottom: 34px;
  }
  .develop-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .develop-title {
    font-size: 27px;
    margin-bottom: 28px;
    line-height: 1.2;
  }
  .develop-col {
    gap: 8px;
  }
  .develop-col-btn {
    display: inline-block;
  }
}

/* about start */
.about {
  padding-top: 78px;
  padding-bottom: 69px;
}
.about-container {
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: center;
}
.about-info {
  max-width: 467px;
}
.about-title {
  font-family: Poppins, sans-serif;
  font-size: 51px;
  font-weight: 600;
  line-height: 41.8px;
  letter-spacing: -1.1399999856948853px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 35px;
}
.about-text {
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 41.8px;
  letter-spacing: -1.1399999856948853px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-img {
  border-radius: 24px;
  width: 100%;
}

@media (max-width: 814px) {
  .about {
    padding-top: 39px;
    padding-bottom: 34px;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
  .about-img {
    order: -11;
    object-fit: cover;
  }
  .about-title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .about-text {
    font-size: 18px;
    line-height: 1.2;
  }
}

/* statistic  start*/
.statistic {
  padding-top: 77px;
  padding-bottom: 60px;
}
.statistic-container {
  max-width: 970px;
}
.statistic-title {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 50px;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
}
.statistic-row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.statistic-col {
}
.statistic-col-title {
  font-family: Poppins, sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 73.5px;
  letter-spacing: -1.399999976158142px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 12px;
  background: linear-gradient(
    29.07deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
}
.statistic-col-text {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.20000000298023224px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #7a7a7a;
  max-width: 224px;
  margin-left: auto;
  margin-right: auto;
}
/* statistic  end*/

@media (max-width: 900px) {
  .statistic {
    padding-top: 38px;
    padding-bottom: 30px;
  }
  .statistic-title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .statistic-col-title {
    font-size: 54px;
    line-height: 1.2;
  }
  .statistic-col-text {
    font-size: 18px;
  }
  .statistic-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .statistic-row {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* mission start */

.mission {
  padding-top: 60px;
  padding-bottom: 55px;
}
.mission-container {
  max-width: 1100px;
}
.mission-box {
  background: linear-gradient(113.49deg, #1a1a1a 0%, #0d0d0d 100%);
  padding-top: 78px;
  padding-bottom: 99px;
  border-radius: 24px;
  padding-left: 30px;
  padding-right: 30px;
}
.mission-title {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: linear-gradient(113.49deg, #1a1a1a 0%, #0d0d0d 100%);
  background: #cccccc;
  background: linear-gradient(
    79.97deg,
    #fffff7 0%,
    rgba(255, 255, 247, 0.34) 100%
  );
  color: transparent;
  background-clip: text;
  margin-bottom: 40px;
}
.mission-text {
  font-family: Poppins, sans-serif;
  font-size: 45px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -1.6200000047683716px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #cccccc;
}

@media (max-width: 768px) {
  .mission {
    padding-top: 30px;
    padding-bottom: 28px;
  }
  .mission-title {
    font-size: 27px;
    margin-bottom: 28px;
  }
  .mission-box {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .mission-text {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -1px;
  }
}

/* requirements start */

.requirements {
  padding-top: 53px;
  padding-bottom: 52px;
}
.requirements-container {
  max-width: 1124px;
}
.requirements-title {
  font-family: Poppins, sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 53px;
}
.requirements-text {
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -1.3200000524520874px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 40px;
}
.requirements-row {
  gap: 52px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 40px;
}
.requirements-col {
  background-color: orange;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 30px 16px;
  border: 1px solid #262626;
  background-color: #1b1b1b;
  border-radius: 30px;
  grid-column: span 2;
}
.requirements-col-img {
  width: 100px;
  height: 100px;
}
.requirements-col-text {
  max-width: 175px;
  font-family: Poppins , sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5199999809265137px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.requirements-row .requirements-col:nth-child(4) {
  grid-column: span 3;
  max-width: 382px;
  margin-left: auto;
  width: 100%;
}
.requirements-row .requirements-col:nth-child(5) {
  grid-column: span 3;
  max-width: 382px;
  width: 100%;
}
.requirements-row .requirements-col:nth-child(4) .requirements-col-text{
  max-width: 226px;
}
.requirements-row .requirements-col:nth-child(5) .requirements-col-text{
  max-width: 226px;
}

@media (max-width:980px) {
  .requirements-row {
    grid-template-columns: 1fr 1fr;
  }
  .requirements-col {
    grid-column: span 1 !important;
    max-width: 100% !important;
  }
}

@media (max-width: 768px) {
  .requirements{
    padding-top: 27px;
    padding-bottom: 26px;
  }
  .requirements-row {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .requirements-col-img{
    width: 80px;
    height: 80px;
  }
  .requirements-col-text{
    font-size: 18px;
  }
  .requirements-title{
    font-size: 30px;
    margin-bottom: 36px;
  }
  .requirements-text{
    font-size: 20px;
    margin-bottom: 28px;
  }
  .requirements-col{
    padding: 16px;
    border-radius: 20px;
  }
  .requirements-col .requirements-col-text{
    max-width: 100%;
  }
}